body, #mainWrapper {
	height: 70%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.formcontainer{
	background-color: #DAE8E8;
	padding: 20px;
}

.tablecontainer{
	padding-left: 20px;
}

.generic-container {
  width:80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}


.inputExp {
   width: 5.2em;
}
.percentage{
 width: 5.2em;
}

.loginForm {
    width: 30.2em;
}

section{
	
	min-height:50em;	
}

div.upload {
    width: 157px;
    display: inline-block;
    border:#fdb813 1px solid!important;
    height: 57px;
    overflow: hidden;
}

div.upload input {
    display: block !important;

    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}	
	
  .show-print
    {
        display: none !important;
        height: 0;
    }
    .photoDiv{
    	float: right;
	    width: 200px;
	    height: 200px;
	    border: dotted;
	    margin-bottom: 12px;
    }
      .photoDivTxt{
    	     margin-top: 72px!important;
    	     margin-left: 9px!important;
    }
    .photoDiv  img{
    	overflow:hidden;
    	width:200px;
    	height:200px;	
    }
   
    
    