<nav class="no-print">
	<div class="container">

		<div class="row">


			<div class="col-xs-15 disabled_div">
				<img src="images/personal_details.png" />
				<h2>Personal</h2>
				<p class="hidden-xs">Name, address & contact information</p>
			</div>

			<div class="col-xs-15  disabled_div">
				<img src="images/education_details.png" />
				<h2>Education</h2>
				<p class="hidden-xs">School, college and other relevant education details</p>
			</div>

			<div class="col-xs-15 disabled_div">
				<img src="images/work_details.png" />
				<h2>Work Experience</h2>
				<p class="hidden-xs">Roles, responsibilies, and other related data</p>
			</div>

			<div class="col-xs-15 ">
				<img src="images/additional_details.png" />
				<h2>Additional Details</h2>
				<p class="hidden-xs">Areas of Interest and extra curicular activites</p>
			</div>

			<div class="col-xs-15 disabled_div">
				<img src="images/review_details.png" />
				<h2>Review</h2>
				<p class="hidden-xs">Reviwe the final application</p>
			</div>

		</div>
	</div>
</nav>

<section class="container-fluid">

	<div class="container-fluid adani_hd_bck">
		<div class="container adani_hd">
			<h1>ADDITIONAL DETAILS</h1>
			<p>Step 4 of 5</p>
		</div>
	</div>

	<div class="container">

		<form name="additionalInfoForm">


			<h2>EXTRA CURRICULAR ACTIVITIES AND INTEREST</h2>
	
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6 col-xs-12 col-md-4">
						<label class="control-label">Type of activity</label> <input
							type="text" ng-model="application.additionalInfo.activity.type"
							class="form-control" name="type_activity" />
					</div>

					<div class="col-sm-6 col-xs-12 col-md-4">
						<label class="control-label">Duration of activity</label> <input
							type="text" class="form-control"
							ng-model="application.additionalInfo.activity.duration"
							name="duration_activity" />
					</div>

				</div>
			</div>

			<div class="form-group">
				<div class="row">

					<div class="col-xs-12 col-md-4 col-sm-6">
						<label class="control-label">Nature of involvement /
							achievements</label>

						<textarea class="form-control"
							ng-model="application.additionalInfo.activity.nature"
							name="nature_involvement"></textarea>
					</div>

				</div>
			</div>

			<h2>
				<label class="control-label required"></label>PREFERENCE FOR
				PERSONAL INTERVIEW LOCATION
			</h2>

			<div class="form-group">
				<div class="row">

					<div class="col-sm-6 col-xs-12 col-md-4">


						<select class="form-control"
							ng-model="application.additionalInfo.pref1" name=pref1 required>
							<option value="AIIM-Ahmedabad">AIIM-Ahmedabad</option>
							<option value="Delhi">Delhi</option>
							<option value="Bombay">Bombay</option>
							<option value="Bhubaneswar">Bhubaneswar</option>
							<option value="Chennai">Chennai</option>
							<option value="Kochi">Kochi</option>
							<option value="Pune">Pune</option>
						</select> <span class="field-error" ng-show="locationSame">Interview
							location preference cannot be same .</span> <span class="field-error"
							ng-init="pref1=false" ng-show="pref1">Interview location
							Preference 1 is required.</span>

					</div>
					<div class="col-sm-6 col-xs-12 col-md-4">

						<select class="form-control"
							ng-model="application.additionalInfo.pref2" name="pref2" required>
							<option value="AIIM-Ahmedabad">AIIM-Ahmedabad</option>
							<option value="Delhi">Delhi</option>
							<option value="Bombay">Bombay</option>
							<option value="Bhubaneswar">Bhubaneswar</option>
							<option value="Chennai">Chennai</option>
							<option value="Kochi">Kochi</option>
							<option value="Pune">Pune</option>
						</select> <span class="field-error" ng-show="locationSame">Interview
							location preference cannot be same .</span> <span class="field-error"
							ng-init="pref2=false" ng-show="pref2">Interview location
							Preference 2 is required.</span>

					</div>

				</div>
			</div>
			<h2>OTHER INFO</h2>

			<div class="form-group">
				<div class="row">

					<div class="col-xs-12 col-md-4 col-sm-6">
						<label class="control-label">Description</label>

						<textarea class="form-control"
							ng-model="application.additionalInfo.description"
							name="nature_desc"></textarea>
					</div>

				</div>
			</div>
			<h2>How did you come to know about programme</h2>
			<div class="form-group">
				<div class="row">

					<div class="col-xs-12">
						

						<div ng-repeat="tag in srcInfoType">
							<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
								<label class="checkbox" > 
								<input type="checkbox" ng-checked="application.additionalInfo.srcTags.indexOf(tag) > -1" ng-click="toggleTag(tag)">
										
								</label>
								{{tag}}
							</div>
							<div class="clearfix visible-lg" ng-if="($index + 1) % 6 == 0"></div>
							<div class="clearfix visible-md" ng-if="($index + 1) % 4 == 0"></div>
							<div class="clearfix visible-sm" ng-if="($index + 1) % 3 == 0"></div>
							<div class="clearfix visible-xs" ng-if="($index + 1) % 2 == 0"></div>
						</div>

					</div>

				</div>
			</div>


			<h2>DELCERATION</h2>


			<div class="form-group">
				<div class="row">

					<div class="col-xs-12">
						<label class="control-label">I hereby certify that all
							information provided by me in this application is accurate and
							complete. I know that if any information provided by me is found
							to be incorrect or false, the Institute has the right to cancel
							my candidature at any stage. I agree to abide by the decision of
							the Institute regarding my selection.</label>
						<div>
							<label class="radio-inline"> <input type="radio"
								ng-click="accept()"
								ng-model="application.additionalInfo.decleration"
								name="i_decleration" value="1" /> I Agree
							</label> <label class="radio-inline"> <input type="radio"
								ng-click="reject()"
								ng-model="application.additionalInfo.decleration"
								name="i_decleration" value="0" /> Disagree
							</label>

						</div>
					</div>

				</div>
			</div>







			<div class="flow_buttons">
				<a href="#workInfo" class="btn btn-primary btn-lg active"
					role="button">Previous</a> <a class="btn btn-primary btn-lg active"
					ng-click="saveAndExit('7')" role="button">Save & Exit</a> <a ng-click="review()"
					class="btn btn-primary btn-lg active" role="button">Review</a> <a
					ng-disabled="isDisabled" ng-click="save('add')"
					class="btn btn-primary btn-lg active" role="button">Submit</a>
			</div>





		</form>


	</div>

</section>


