
<section class="container-fluid">



	<div class="container">

		<form name="adminForm" id="adminForm" method="post" ng-app novalidate>


			
			<ul class="nav nav-tabs">
				<li role="presentation" class="active"><h2>ADMIN PANEL</h2></li>
			</ul>

			<div class="form-group">
				<div class="row">
					<div class="col-xs-12"></div>
				
				</div>
			</div>
			
			<div class="form-group">
				<div class="row">
					<div class="col-xs-12"></div>
				
				</div>
			</div>
			
			<div class="form-group">
				<div class="row">
					<div class="col-xs-4"></div>
				    <div class="col-xs-4">
				    <select name="selection" ng-model="selection" ng-change="selectPage()"> 
						    <option value="regUsers" >Get Registered Users</option>
						    <option value="completedApps" >Get Completed Applications</option>
						    <option value="incompleteApps" >Get Incompleted Applications</option>
					</select>
				    
				    
				          </div>
				    <div class="col-xs-4"></div> 
				</div>
			</div>
			

		</form>


	</div>

</section>