<div class="container">
  <form class="form-horizontal"  name="paymentForm" role="form" ng-app novalidate>
      <fieldset>
      <legend>Credit Payment Information</legend>
      <div class="form-group">
        <label class="col-sm-3 control-label required" for="card-holder-name">Name on Card</label>
        <div class="col-sm-9">
          <input type="text" maxlength="50" class="form-control cardText" required  ng-pattern="/^[a-zA-Z ]*$/" name="card_holder_name"  ng-model="card.name" id="card-holder-name"   placeholder="Card Holder's Name">
          <span class="field-error" ng-show="isCardName">This is a required field.</span>
          <span class="field-error" ng-show="paymentForm.card_holder_name.$error.pattern">Card Holder's Name cannot contain numbers or special characters.</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label required"  for="card-number">Card Number</label>
        <div class="col-sm-9">
          <input type="credit card"  class="form-control cardText" required name="cardNumber" id="card-number"  ng-pattern="/^\d+$/" ng-model="card.number" cc-number cc-type="cardType"  placeholder="Debit/Credit Card Number">
              <span class="field-error" ng-show="isCardNumber">This is a required field.</span>
              <span class="field-error" ng-show="paymentForm.cardNumber.$error.pattern">Card Number should be in numeric.</span>
    
         </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label required" for="expiry-month">Expiration Date</label>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-xs-3">
              <select class="form-control col-sm-2" ng-model="card.exp_month" required cc-exp-month name="expiry_month" id="expiry_month">
                <option>Month</option>
                <option value="01">Jan (01)</option>
                <option value="02">Feb (02)</option>
                <option value="03">Mar (03)</option>
                <option value="04">Apr (04)</option>
                <option value="05">May (05)</option>
                <option value="06">June (06)</option>
                <option value="07">July (07)</option>
                <option value="08">Aug (08)</option>
                <option value="09">Sep (09)</option>
                <option value="10">Oct (10)</option>
                <option value="11">Nov (11)</option>
                <option value="12">Dec (12)</option>
              </select>
               <span class="field-error" ng-show="isExp_month">This is a required field.</span>
            </div>
            <div class="col-xs-3">
              <select class="form-control required"  ng-model="card.exp_year" required name="expiry_year">
                <option value="16">2016</option>
                <option value="17">2017</option>
                <option value="18">2018</option>
                <option value="19">2019</option>
                <option value="20">2020</option>
                <option value="21">2021</option>
                <option value="22">2022</option>
                <option value="23">2023</option>
                <option value="21">2024</option>
                <option value="22">2025</option>
                <option value="23">2026</option>
                <option value="23">2027</option>
                <option value="23">2028</option>
                <option value="23">2029</option>
                <option value="23">2030</option>
                
             </select>
             <span class="field-error" ng-show="isExp_year">This is a required field.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label required" for="cvv">Card CVV</label>
        <div class="col-sm-3">
          <input type="cvc" class="form-control cvv" name="cvv" id="cvv" required ng-model="card.cvc" cc-cvc  placeholder="Security Code">
           <span class="field-error" ng-show="isCvv">This is a required field.</span>   
    
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="button" class="btn btn-success"  ng-click="payNow()" >Pay Now</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>