<nav class="no-print">
	<div class="container">

		<div class="row">


			<div class="col-xs-15">
				<img src="images/personal_details.png" />
				<h2>Personal</h2>
				<p class="hidden-xs">Name, address & contact information</p>
			</div>

			<div class="col-xs-15 disabled_div">
				<img src="images/education_details.png" />
				<h2>Education</h2>
				<p class="hidden-xs">School, college and other relevant education details</p>
			</div>

			<div class="col-xs-15 disabled_div">
				<img src="images/work_details.png" />
				<h2>Work Experience</h2>
				<p class="hidden-xs">Roles, responsibilies, and other related data</p>
			</div>

			<div class="col-xs-15 disabled_div">
				<img src="images/additional_details.png" />
				<h2>Additional Details</h2>
				<p class="hidden-xs">Areas of Interest and extra curicular activites</p>
			</div>

			<div class="col-xs-15 disabled_div">
				<img src="images/review_details.png" />
				<h2>Review</h2>
				<p class="hidden-xs">Reviwe the final application</p>
			</div>

		</div>
	</div>
</nav>

<section class="container-fluid">

	<div class="container-fluid adani_hd_bck">
		<div class="container adani_hd">
			<h1>PERSONAL DETAILS</h1>
			<p>Step 1 of 5</p>
		</div>
	</div>

	<div class="container">

	<form name="personalInfoForm" id="personalInfoForm" method="post" ng-app novalidate>
		<h2>PERSONAL INFORMATION</h2>
 
            <div ng-show="isFormError" class=" col-xs-12 alert alert-danger">
                <strong>!Please fill the required fields </strong>
            </div>
            
		<div class="alter_group">	 
			<div class="form-group">
				<div class="row">

					<div class="col-sm-6 col-xs-12 col-md-4">
						<label class="control-label required">First name</label> <input
							ng-disabled="true" type="text"
							ng-model="application.personalInfo.fName"
							ng-pattern="/^[a-zA-Z ]*$/" class="form-control"
							name="first_name" required /> <span class="field-error"
							ng-show="isFName">This is a required field.</span> <span
							class="field-error" ng-show="isFNamePtrErr">First Name
							cannot contain numbers or special characters"</span>
					</div>
					<div class="col-sm-6 col-xs-12 col-md-4">
						<label class="control-label ">Middle Name</label> <input
							type="text"
							ng-model="application.personalInfo.mName"
							ng-pattern="/^[a-zA-Z ]*$/" class="form-control" 
							name="middle_name" /><span
							class="field-error" ng-show="isMNamePtrErr">Middle Name
							cannot contain numbers or special characters"</span>


					</div>
				</div>
			</div>

		 

			<div class="form-group">
				<div class="row">

					<div class="col-xs-12 col-md-4 col-sm-6">
						<label class="control-label required">Last Name</label> <input
							ng-disabled="true" type="text"
							ng-model="application.personalInfo.lName"
							ng-pattern="/^[a-zA-Z ]*$/" class="form-control" required
							name="last_name" /> <span class="field-error" ng-show="isLName">This
							is a required field.</span> <span class="field-error"
							ng-show="isLNamePtrErr">Last Name cannot contain numbers
							or special characters"</span>

					</div>

				</div>
			</div>

			<div class="form-group">
				<label class="control-label required">Gender</label>
				<div>
					<label class="radio-inline"> <input type="radio"
						ng-disabled="true" name="gender"
						ng-model="application.personalInfo.gender" value="M" required />
						Male
					</label> <label class="radio-inline"> <input type="radio"
						ng-disabled="true" name="gender"
						ng-model="application.personalInfo.gender" value="F" required />
						Female
					</label> <span class="field-error" ng-show="isGender">This is a
						required field.</span>

				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-sm-6 col-xs-12 col-md-4">
						<label class="control-label required" style="display:block;">Date Of Birth</label> 
                        <input 		type="text" style="display: inline; " name="dob"
							ng-disabled="true" class="form-control dobwidth"
							uib-datepicker-popup="dd-MM-yyyy"
							ng-model="application.personalInfo.dob" is-open="status.opened"
							close-text="Close" /> <span style="display: inline;"
							class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="open($event)" ng-disabled="true">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span> <span class="field-error" ng-show="isdob">This is a
							required field.</span>
					</div>

					<div class="col-sm-6 col-xs-12 col-md-4">
						<label class="control-label required">Martial Status</label> 
                        <select
							class="form-control" required
							ng-model="application.personalInfo.maritalstatus"
							name="martial_status">

							<option value="1">Single</option>
							<option value="2">Married</option>
						</select> <span class="field-error" ng-show="isMartial_status">This
							is a required field.</span>
					</div>

				</div>
			</div>
            
            
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6 col-xs-12 col-md-4">
						<label class="control-label required">Nationality</label> <input
							type="text" ng-model="application.personalInfo.nationality"
							name="nationality" ng-pattern="/^[a-zA-Z]*$/"
							class="form-control" required /> <span class="field-error"
							ng-show="nationality_pattern">Nationality should be only
							alphabets</span> <span class="field-error" ng-show="isNationality">This
							is a required field.</span>

					</div>


					<div class="col-sm-6 col-xs-12 col-md-4">

						<label class="control-label required">Category</label> <select
							class="form-control" required
							ng-model="application.personalInfo.category" name="category">
							<option value="General">General</option>
							<option value="SC">SC</option>
							<option value="ST ">ST</option>
							<option value="OBC">OBC</option>
							<option value="Other">Other</option>

						</select> <span class="field-error" ng-show="isCategory">This is a
							required field.</span>
					</div>
				</div>

			</div>

			<div class="form-group">
				<div ng-form="langForm_{{$index}}" class="row"
					ng-repeat="item in languages">

					<div class="col-md-6 col-xs-12 col-lg-3">
						<span> <label   ng-if="$index == 0"
							class="control-label required">Language Proficiency</label> 
                            <label
							ng-if="$index > 0" class="control-label " style="margin-top:6px;">Language
								Proficiency {{$index}}</label> 
                                
                                <input ng-if="$index == 0" type="text"
							ng-model="item.value" name="language_{{$index}}"
							ng-pattern="/^[a-zA-Z]*$/" class="form-control" required /> 
                            
                            <input 
							ng-if="$index > 0" type="text" ng-model="item.value"
							name="language_{{$index}}" ng-pattern="/^[a-zA-Z]*$/"
							class="form-control" /> <span class="field-error"
							ng-show="lang_pattern_{{$index}}">Language should be only
								alphabets</span> <span class="field-error" ng-if="$index == 0"
							ng-show="isLanguage">This is a required field.</span>
						</span>

					</div>

				</div>

 


			</div>
		</div> <!-- close of alter group -->

			<button type="button" ng-show="languages.length <5"
				ng-click="addLang()" class="btn btn-default cust_btn">+ ADD
				ANOTHER LANGUAGE</button>

		<div class="alter_group">
			<div class="form-group">
				<div class="row">

					<div class="col-xs-12 col-md-4 col-sm-6">
						<label class="control-label required">Select Country</label> <select
							required class="form-control"
							ng-model="application.personalInfo.country" name="your_country">
							<option value="AF">Afghanistan</option>
							<option value="AX">Åland Islands</option>
							<option value="AL">Albania</option>
							<option value="DZ">Algeria</option>
							<option value="AS">American Samoa</option>
							<option value="AD">Andorra</option>
							<option value="AO">Angola</option>
							<option value="AI">Anguilla</option>
							<option value="AQ">Antarctica</option>
							<option value="AG">Antigua and Barbuda</option>
							<option value="AR">Argentina</option>
							<option value="AM">Armenia</option>
							<option value="AW">Aruba</option>
							<option value="AU">Australia</option>
							<option value="AT">Austria</option>
							<option value="AZ">Azerbaijan</option>
							<option value="BS">Bahamas</option>
							<option value="BH">Bahrain</option>
							<option value="BD">Bangladesh</option>
							<option value="BB">Barbados</option>
							<option value="BY">Belarus</option>
							<option value="BE">Belgium</option>
							<option value="BZ">Belize</option>
							<option value="BJ">Benin</option>
							<option value="BM">Bermuda</option>
							<option value="BT">Bhutan</option>
							<option value="BO">Bolivia, Plurinational State of</option>
							<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
							<option value="BA">Bosnia and Herzegovina</option>
							<option value="BW">Botswana</option>
							<option value="BV">Bouvet Island</option>
							<option value="BR">Brazil</option>
							<option value="IO">British Indian Ocean Territory</option>
							<option value="BN">Brunei Darussalam</option>
							<option value="BG">Bulgaria</option>
							<option value="BF">Burkina Faso</option>
							<option value="BI">Burundi</option>
							<option value="KH">Cambodia</option>
							<option value="CM">Cameroon</option>
							<option value="CA">Canada</option>
							<option value="CV">Cape Verde</option>
							<option value="KY">Cayman Islands</option>
							<option value="CF">Central African Republic</option>
							<option value="TD">Chad</option>
							<option value="CL">Chile</option>
							<option value="CN">China</option>
							<option value="CX">Christmas Island</option>
							<option value="CC">Cocos (Keeling) Islands</option>
							<option value="CO">Colombia</option>
							<option value="KM">Comoros</option>
							<option value="CG">Congo</option>
							<option value="CD">Congo, the Democratic Republic of the</option>
							<option value="CK">Cook Islands</option>
							<option value="CR">Costa Rica</option>
							<option value="CI">Côte d'Ivoire</option>
							<option value="HR">Croatia</option>
							<option value="CU">Cuba</option>
							<option value="CW">Curaçao</option>
							<option value="CY">Cyprus</option>
							<option value="CZ">Czech Republic</option>
							<option value="DK">Denmark</option>
							<option value="DJ">Djibouti</option>
							<option value="DM">Dominica</option>
							<option value="DO">Dominican Republic</option>
							<option value="EC">Ecuador</option>
							<option value="EG">Egypt</option>
							<option value="SV">El Salvador</option>
							<option value="GQ">Equatorial Guinea</option>
							<option value="ER">Eritrea</option>
							<option value="EE">Estonia</option>
							<option value="ET">Ethiopia</option>
							<option value="FK">Falkland Islands (Malvinas)</option>
							<option value="FO">Faroe Islands</option>
							<option value="FJ">Fiji</option>
							<option value="FI">Finland</option>
							<option value="FR">France</option>
							<option value="GF">French Guiana</option>
							<option value="PF">French Polynesia</option>
							<option value="TF">French Southern Territories</option>
							<option value="GA">Gabon</option>
							<option value="GM">Gambia</option>
							<option value="GE">Georgia</option>
							<option value="DE">Germany</option>
							<option value="GH">Ghana</option>
							<option value="GI">Gibraltar</option>
							<option value="GR">Greece</option>
							<option value="GL">Greenland</option>
							<option value="GD">Grenada</option>
							<option value="GP">Guadeloupe</option>
							<option value="GU">Guam</option>
							<option value="GT">Guatemala</option>
							<option value="GG">Guernsey</option>
							<option value="GN">Guinea</option>
							<option value="GW">Guinea-Bissau</option>
							<option value="GY">Guyana</option>
							<option value="HT">Haiti</option>
							<option value="HM">Heard Island and McDonald Islands</option>
							<option value="VA">Holy See (Vatican City State)</option>
							<option value="HN">Honduras</option>
							<option value="HK">Hong Kong</option>
							<option value="HU">Hungary</option>
							<option value="IS">Iceland</option>
							<option value="IN">India</option>
							<option value="ID">Indonesia</option>
							<option value="IR">Iran, Islamic Republic of</option>
							<option value="IQ">Iraq</option>
							<option value="IE">Ireland</option>
							<option value="IM">Isle of Man</option>
							<option value="IL">Israel</option>
							<option value="IT">Italy</option>
							<option value="JM">Jamaica</option>
							<option value="JP">Japan</option>
							<option value="JE">Jersey</option>
							<option value="JO">Jordan</option>
							<option value="KZ">Kazakhstan</option>
							<option value="KE">Kenya</option>
							<option value="KI">Kiribati</option>
							<option value="KP">Korea, Democratic People's Republic
								of</option>
							<option value="KR">Korea, Republic of</option>
							<option value="KW">Kuwait</option>
							<option value="KG">Kyrgyzstan</option>
							<option value="LA">Lao People's Democratic Republic</option>
							<option value="LV">Latvia</option>
							<option value="LB">Lebanon</option>
							<option value="LS">Lesotho</option>
							<option value="LR">Liberia</option>
							<option value="LY">Libya</option>
							<option value="LI">Liechtenstein</option>
							<option value="LT">Lithuania</option>
							<option value="LU">Luxembourg</option>
							<option value="MO">Macao</option>
							<option value="MK">Macedonia, the former Yugoslav
								Republic of</option>
							<option value="MG">Madagascar</option>
							<option value="MW">Malawi</option>
							<option value="MY">Malaysia</option>
							<option value="MV">Maldives</option>
							<option value="ML">Mali</option>
							<option value="MT">Malta</option>
							<option value="MH">Marshall Islands</option>
							<option value="MQ">Martinique</option>
							<option value="MR">Mauritania</option>
							<option value="MU">Mauritius</option>
							<option value="YT">Mayotte</option>
							<option value="MX">Mexico</option>
							<option value="FM">Micronesia, Federated States of</option>
							<option value="MD">Moldova, Republic of</option>
							<option value="MC">Monaco</option>
							<option value="MN">Mongolia</option>
							<option value="ME">Montenegro</option>
							<option value="MS">Montserrat</option>
							<option value="MA">Morocco</option>
							<option value="MZ">Mozambique</option>
							<option value="MM">Myanmar</option>
							<option value="NA">Namibia</option>
							<option value="NR">Nauru</option>
							<option value="NP">Nepal</option>
							<option value="NL">Netherlands</option>
							<option value="NC">New Caledonia</option>
							<option value="NZ">New Zealand</option>
							<option value="NI">Nicaragua</option>
							<option value="NE">Niger</option>
							<option value="NG">Nigeria</option>
							<option value="NU">Niue</option>
							<option value="NF">Norfolk Island</option>
							<option value="MP">Northern Mariana Islands</option>
							<option value="NO">Norway</option>
							<option value="OM">Oman</option>
							<option value="PK">Pakistan</option>
							<option value="PW">Palau</option>
							<option value="PS">Palestinian Territory, Occupied</option>
							<option value="PA">Panama</option>
							<option value="PG">Papua New Guinea</option>
							<option value="PY">Paraguay</option>
							<option value="PE">Peru</option>
							<option value="PH">Philippines</option>
							<option value="PN">Pitcairn</option>
							<option value="PL">Poland</option>
							<option value="PT">Portugal</option>
							<option value="PR">Puerto Rico</option>
							<option value="QA">Qatar</option>
							<option value="RE">Réunion</option>
							<option value="RO">Romania</option>
							<option value="RU">Russian Federation</option>
							<option value="RW">Rwanda</option>
							<option value="BL">Saint Barthélemy</option>
							<option value="SH">Saint Helena, Ascension and Tristan
								da Cunha</option>
							<option value="KN">Saint Kitts and Nevis</option>
							<option value="LC">Saint Lucia</option>
							<option value="MF">Saint Martin (French part)</option>
							<option value="PM">Saint Pierre and Miquelon</option>
							<option value="VC">Saint Vincent and the Grenadines</option>
							<option value="WS">Samoa</option>
							<option value="SM">San Marino</option>
							<option value="ST">Sao Tome and Principe</option>
							<option value="SA">Saudi Arabia</option>
							<option value="SN">Senegal</option>
							<option value="RS">Serbia</option>
							<option value="SC">Seychelles</option>
							<option value="SL">Sierra Leone</option>
							<option value="SG">Singapore</option>
							<option value="SX">Sint Maarten (Dutch part)</option>
							<option value="SK">Slovakia</option>
							<option value="SI">Slovenia</option>
							<option value="SB">Solomon Islands</option>
							<option value="SO">Somalia</option>
							<option value="ZA">South Africa</option>
							<option value="GS">South Georgia and the South Sandwich
								Islands</option>
							<option value="SS">South Sudan</option>
							<option value="ES">Spain</option>
							<option value="LK">Sri Lanka</option>
							<option value="SD">Sudan</option>
							<option value="SR">Suriname</option>
							<option value="SJ">Svalbard and Jan Mayen</option>
							<option value="SZ">Swaziland</option>
							<option value="SE">Sweden</option>
							<option value="CH">Switzerland</option>
							<option value="SY">Syrian Arab Republic</option>
							<option value="TW">Taiwan, Province of China</option>
							<option value="TJ">Tajikistan</option>
							<option value="TZ">Tanzania, United Republic of</option>
							<option value="TH">Thailand</option>
							<option value="TL">Timor-Leste</option>
							<option value="TG">Togo</option>
							<option value="TK">Tokelau</option>
							<option value="TO">Tonga</option>
							<option value="TT">Trinidad and Tobago</option>
							<option value="TN">Tunisia</option>
							<option value="TR">Turkey</option>
							<option value="TM">Turkmenistan</option>
							<option value="TC">Turks and Caicos Islands</option>
							<option value="TV">Tuvalu</option>
							<option value="UG">Uganda</option>
							<option value="UA">Ukraine</option>
							<option value="AE">United Arab Emirates</option>
							<option value="GB">United Kingdom</option>
							<option value="US">United States</option>
							<option value="UM">United States Minor Outlying Islands</option>
							<option value="UY">Uruguay</option>
							<option value="UZ">Uzbekistan</option>
							<option value="VU">Vanuatu</option>
							<option value="VE">Venezuela, Bolivarian Republic of</option>
							<option value="VN">Viet Nam</option>
							<option value="VG">Virgin Islands, British</option>
							<option value="VI">Virgin Islands, U.S.</option>
							<option value="WF">Wallis and Futuna</option>
							<option value="EH">Western Sahara</option>
							<option value="YE">Yemen</option>
							<option value="ZM">Zambia</option>
							<option value="ZW">Zimbabwe</option>
						</select> <span class="field-error" ng-show="isCountry">This is a
							required field.</span>
					</div>

				</div>



			</div>


			<div class="form-group">
				<div class="row">
					<div class="col-sm-6 col-xs-12 col-md-4">
						<label class="control-label required">Address Line1</label> <input
							type="text" ng-model="application.personalInfo.ad1"
							class="form-control" name="address_line1"
							ng-pattern="/^(?![0-9]*$)[a-zA-Z0-9 ]*$/" required /> <span
							class="field-error" ng-show="isAddress_line1">This is a
							required field.</span> <span class="field-error"
							ng-show="personalInfoForm.address_line1.$error.pattern">Address
							1 should be in alphanumeric.</span>
					</div>

					<div class="col-sm-6 col-xs-12 col-md-4">
						<label class="control-label required">Address Line2</label> <input
							type="text" class="form-control"
							ng-model="application.personalInfo.ad2" name="address_line2"
							required /> <span class="field-error" ng-show="isAddress_line2">This
							is a required field.</span>
					</div>
				</div>
			</div>


			<div class="form-group">
				<div class="row">


					<div class="col-sm-4 col-xs-12 col-md-3">
						<label class="control-label required">City</label> <input
							type="text" class="form-control" ng-pattern="/^[a-zA-Z]*$/"
							ng-model="application.personalInfo.city" name="city"
							ng-required="true" /> <span class="field-error" ng-show="isCity">This
							is a required field.</span> <span class="field-error"
							ng-show="isCityPtrnErr">City should be alphabets</span>
					</div>

					<div  class="col-sm-4 col-xs-12 col-md-3">
						<label class="control-label required">Pincode</label> <input
							type="text" class="form-control"
							ng-model="application.personalInfo.pincode" ng-pattern="/^\d+$/"
							name="pinCode" ng-required="true" /> <span class="field-error"
							ng-show="isPinCode">This is a required field.</span> <span
							class="field-error" ng-show="isPinCode_number">Pincode
							should be in numeric.</span>
					</div>
					<div  class="col-sm-4 col-xs-12 col-md-3">
						<label class="control-label required">State</label> <input
							type="text" ng-required="true" class="form-control"
							ng-pattern="/^[a-zA-Z ]*$/"
							ng-model="application.personalInfo.state" name="state"
							ng-show="application.personalInfo.country!='IN'" /> <select
							ng-required="true" class="form-control"
							ng-show="application.personalInfo.country=='IN'"
							ng-model="application.personalInfo.state" name=state>

							<option value="Andaman and Nicobar Islands">Andaman and
								Nicobar Islands</option>
							<option value="Andhra Pradesh">Andhra Pradesh</option>
							<option value="Arunachal Pradesh">Arunachal Pradesh</option>
							<option value="Assam">Assam</option>
							<option value="Bihar">Bihar</option>
							<option value="Chandigarh">Chandigarh</option>
							<option value="Chhattisgarh">Chhattisgarh</option>
							<option value="Dadra and Nagar Haveli">Dadra and Nagar
								Haveli</option>
							<option value="Daman and Diu">Daman and Diu</option>
							<option value="Delhi">Delhi</option>
							<option value="Goa">Goa</option>
							<option value="Gujarat">Gujarat</option>
							<option value="Haryana">Haryana</option>
							<option value="Himachal Pradesh">Himachal Pradesh</option>
							<option value="Jammu and Kashmir">Jammu and Kashmir</option>
							<option value="Jharkhand">Jharkhand</option>
							<option value="Karnataka">Karnataka</option>
							<option value="Kerala">Kerala</option>
							<option value="Lakshadweep">Lakshadweep</option>
							<option value="Madhya Pradesh">Madhya Pradesh</option>
							<option value="Maharashtra">Maharashtra</option>
							<option value="Manipur">Manipur</option>
							<option value="Meghalaya">Meghalaya</option>
							<option value="Mizoram">Mizoram</option>
							<option value="Nagaland">Nagaland</option>
							<option value="Orissa">Orissa</option>
							<option value="Pondicherry">Pondicherry</option>
							<option value="Punjab">Punjab</option>
							<option value="Rajasthan">Rajasthan</option>
							<option value="Sikkim">Sikkim</option>
							<option value="Tamil Nadu">Tamil Nadu</option>
							<option value="Tripura">Tripura</option>
							<option value="Uttaranchal">Uttaranchal</option>
							<option value="Uttar Pradesh">Uttar Pradesh</option>
							<option value="West Bengal">West Bengal</option>
						</select> <span class="field-error" ng-show="isState">This is a
							required field.</span> <span class="field-error" ng-show="isStatePtrn">State
							should not should be in numeric.</span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-sm-6 col-xs-12 col-md-4">
						<label class="control-label required">Mobile Number</label> <input
							type="text" class="form-control" ng-pattern="/^\d+$/"
							maxlength="10" ng-model="application.personalInfo.mobileNumber"
							name="mobile_number" required ng-disabled="true" /> <span
							class="field-error" ng-show="isMobile_number">Mobile
							Number should be in numeric.</span> <span class="field-error"
							ng-show="isMobile">This is a required field.</span> <span
							class="field-error" ng-show="isMobile_min">Mobile should
							be 10 digits.</span> <span class="field-error" ng-show="isMobile_max">Mobile
							should be 10 digits</span>

					</div>

					<div class="col-sm-6 col-xs-12 col-md-4">
						<label class="control-label">Landline Number</label>
						<div class="row">
							<div class="dcol-xs-3">
								<input type="text" ng-model="application.personalInfo.stdCode"
									class="form-control" name="std_code" maxlength="6"/> <small
									class="text-muted"> (+91) </small>
							</div>
							<div class="dcol-xs-7">
								<input type="text" maxlength="15" ng-model="application.personalInfo.number"
									class="form-control" name="number_2" /> <small
									class="text-muted"> (79-25556153) </small>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">

					<div class="col-xs-12 col-md-4 col-sm-6">
						<label class="control-label required">Email Id</label> <input
							type="text" ng-model="application.personalInfo.emailId"
							class="form-control" required name="email_id" ng-disabled="true" />
						<span class="field-error" ng-show="isEmptyEmail ">This is a
							required field.</span> <span class="field-error"
							ng-show="isInvalidEmail">This is not a valid email.</span>



					</div>

				</div>
			</div>

			<div class="form-group">
				<div class="row">

					<div class="col-xs-12">
						

						
							<!--  Form 2 -->
							<form id="form2" method="post" action="/upload" enctype="multipart/form-data">
							 
							
	
							<div class="upload btn btnfile">
									<div style="position:absolute; left:5px; font-size:13px; top:8px; color:#E0DEDE;">BROWSE FOR PHOTO</div>
								<input type="file"
									ngf-select="upload(application.personalInfo.photo,'')"
									ng-model="application.personalInfo.photo"
									name="application.personalInfo.photo" id="file2" accept="image/*"
									ngf-max-size="2MB" ngf-model-invalid="errorFiles">
									
	
							</div>
							</form>
						<span ng-hide="personalInfoForm.file.$valid" style="margin-left:10px;">No file selected</span>
							
							<img style="vertical-align: top"
							ng-show="personalInfoForm.file.$valid"
							ngf-thumbnail="application.personalInfo.photo" class="thumb">
						
						
						
						

					</div>

				</div>
			</div>
            
            </div> <!-- close of alter group -->
			<div class="form-group">
				<div class="row">
					<div ng-show="isFormError" class=" col-xs-12 alert alert-danger">
						<strong>!Please fill the required fields </strong>
					</div>
				</div>
			</div>
			<div class="flow_buttons">
				<a class="btn btn-primary btn-lg active"
					ng-click="personalInfoNext()" role="button">Next </a> <a
					class="btn btn-primary btn-lg active" ng-click="saveAndExit('1')"
					role="button">Save & Exit</a>



			</div>



		</form>


	</div>

</section>