<h2>PROFESSIONAL QUALIFICATION</h2>
<div class="alter_group">
		
        <div class="form-group">
					<div class="row">

						<div class="col-xs-12 col-md-4 col-sm-6">
							<label class="control-label">Name of Profession / Course</label>
							<input type="text"
								ng-model="application.eductionalInfo.pq.obtained"
								class="form-control" name="pq_obtained" />
						</div>

					</div>
				</div>



				<div class="form-group">
					<div class="row">

						<div class="col-xs-12 col-md-4 col-sm-6">
							<label class="control-label"> Name of institute /
								university</label> <input type="text"
								ng-model="application.eductionalInfo.pq.college"
								class="form-control" name="pq_college" />
						</div>

					</div>
				</div>



				<div class="form-group">
					<div class="row">


						<div class="col-xs-12 col-md-4 col-sm-6">
							<label class="control-label">Month and Year of passing </label>
							<div class="row">
								<div class="yrcol-md-4">

									<select class="monthTxt form-control"
										ng-model="application.eductionalInfo.pq.from_month"
										class="form-control" name="pq_from_month">
										<option value=""></option>
										<option value="01">01</option>
										<option value="02">02</option>
										<option value="03">03</option>
										<option value="04">04</option>
										<option value="05">05</option>
										<option value="06">06</option>
										<option value="07">07</option>
										<option value="08">08</option>
										<option value="09">09</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select>

								</div>
								<div class="yrcol-md-8">

									<select class="monthYr form-control"
										ng-model="application.eductionalInfo.pq.from_year"
										class="form-control" name="pq_from_year" ng-options="year as year for year in years">

									</select>

								</div>
								 
                            </div>
                            
                           </div>

						</div>
					</div>


					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-xs-12 col-md-4">
								<label class="control-label"> Percentage of marks / CGPA
									obtained obtained</label> <input type="text"
									class="form-control percentage "
									ng-model="application.eductionalInfo.pq.marks"
									ng-pattern="/^[0-9]+(\.[0-9]+)?(\%)?$/" name="pq_marks" /> <span
									class="field-error" ng-show="pq_marksPercentPtrnErr">Please
									enter numbers with allowed characters ".", "%" </span>
							</div>

							<div class="col-sm-6 col-xs-12 col-md-4">
								<label class="control-label">Grade obtained</label> <input
									type="text" class="form-control"
									ng-model="application.eductionalInfo.pq.division"
									name="pq_division" />
							</div>

						</div>
					</div>

</div> <!-- Close of alter group -->
					
<div ng-form="pq_{{$index}}"
	ng-repeat="pq in application.eductionalInfo.pqAdd">
	<h2>ADDITIONAL PROFESSIONAL QUALIFICATION</h2>
	
<div class="alter_group">  
    <div class="form-group">
					<div class="row">
						<div class="col-xs-12 col-md-4 col-sm-6">
							<label class="control-label">Name of Profession / Course</label>
							<input type="text"
								ng-model="pq.obtained"
								class="form-control" name="pq_obtained_{{$index}}" />
						</div>

					</div>
				</div>
			<div class="form-group">
					<div class="row">
						<div class="col-xs-12 col-md-4 col-sm-6">
							<label class="control-label"> Name of institute /
								university</label> <input type="text"
								ng-model="pq.college"
								class="form-control" name="pq_college_{{$index}}" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">


						<div class="col-xs-12 col-md-4 col-sm-6">
							<label class="control-label">Month and Year of passing </label>
							<div class="row">
								<div class="yrcol-md-4">

									<select class="monthTxt form-control"
										ng-model="pq.from_month"
										class="form-control" name="pq_from_month">
										<option value=""></option>
										<option value="01">01</option>
										<option value="02">02</option>
										<option value="03">03</option>
										<option value="04">04</option>
										<option value="05">05</option>
										<option value="06">06</option>
										<option value="07">07</option>
										<option value="08">08</option>
										<option value="09">09</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select>

								</div>
								<div class="yrcol-md-8">

									<select class="monthYr form-control"
										ng-model="pq.from_year"
										class="form-control" name="pq_from_year" ng-options="year as year for year in years">

									</select>

								</div>
							
						</div>
					</div>

		</div>
	 </div>

					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-xs-12 col-md-4">
								<label class="control-label"> Percentage of marks / CGPA
									obtained obtained</label> <input type="text"
									class="form-control percentage "
									ng-model="pq.marks"
									ng-pattern="/^[0-9]+(\.[0-9]+)?(\%)?$/" name="pq_marks_{{$index}}" /> <span
									class="field-error" ng-show="eductionalInfoForm.pq_{{$index}}.pq_marks_{{$index}}.$error.pattern">Please
									enter numbers with allowed characters ".", "%" </span>
							</div>

							<div class="col-sm-6 col-xs-12 col-md-4">
								<label class="control-label">Grade obtained</label> <input
									type="text" class="form-control"
									ng-model="pq.division"
									name="pq_division_{{$index}}" />
							</div>

						</div>
					</div>
	
</div> <!-- Close Of grad Index -->
					
</div>	<!-- Close Of Alter Group -->		