
<section class="container-fluid">

	<div ng-show="isUserCreateFailed==true" class="alert alert-danger">
		<strong>Email ID already Registered. </strong>
	</div>

	<div class="container">
		
		<form name="userInfoForm" i id="userInfoForm" method="post" ng-app
			novalidate>
			
			<h2>Registration Form</h2>
			<div class="form-group">
				<div class="row">
					<div ng-show="isFormError" class=" col-xs-12 alert alert-danger">
						<strong>!Please fill the required fields </strong>
					</div>
				</div>
			</div>


			<div class="form-group">
				<div class="row">
					<div class="col-xs-12">
						<label class="control-label required">First name</label> <input
							type="text" ng-pattern="/^[a-zA-Z ]*$/" required
							ng-model="personalInfo.fName" class="form-control" required
							name="first_name" /> <span class="field-error" ng-show="isFName">This
							is a required field.</span> <span class="field-error"
							ng-show="isFNamePtrErr">First Name cannot contain numbers
							or special characters"</span>



					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">

					<div class="col-xs-12">
						<label class="control-label ">Middle Name</label> <input
							ng-pattern="/^[a-zA-Z ]*$/" type="text"
							ng-model="personalInfo.mName" class="form-control" 
							name="middle_name" />  <span
							class="field-error" ng-show="isMNamePtrErr">Middle Name
							cannot contain numbers or special characters"</span>


					</div>

				</div>
			</div>



			<div class="form-group">
				<div class="row">

					<div class="col-xs-12">
						<label class="control-label required">Last Name</label> <input
							type="text" ng-pattern="/^[a-zA-Z ]*$/"
							ng-model="personalInfo.lName" class="form-control" required
							name="last_name" /> <span class="field-error" ng-show="isLName">This
							is a required field.</span> <span class="field-error"
							ng-show="isLNamePtrErr">Last Name cannot contain numbers
							or special characters"</span>

					</div>

				</div>
			</div>

			<div class="form-group">
				<label class="control-label required">Gender</label>
				<div>
					<label class="radio-inline"> <input type="radio"
						name="gender" ng-model="personalInfo.gender" required value="M" />
						Male
					</label> <label class="radio-inline"> <input type="radio"
						name="gender" ng-model="personalInfo.gender" required value="F" />
						Female
					</label> <span class="field-error" ng-show="isGender">This is a
						required field.</span>


				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<label class="control-label required">Date Of Birth</label> <input
							type="text" style="display: inline; width: 90%" name="dob"
							class="form-control" uib-datepicker-popup="dd-MM-yyyy"
							ng-model="dt" is-open="status.opened" ng-required="true"
							close-text="Close" /> <span style="display: inline;"
							class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="open($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span> <small
									class="text-muted">(DD-MM-YYYY) </small> <span class="field-error" ng-show="isdob">This is a
							required field.</span>
							


					</div>

					<div class="col-md-6 col-sm-12">
						<label class="control-label required">Mobile Number</label> <input
							type="text" class="form-control" required ng-minlength="10"
							ng-maxlength="10" ng-model="personalInfo.mobileNumber"
							name="mobile_number" /> <span class="field-error"
							ng-show="isMobile">This is a required field.</span> <span
							class="field-error" ng-show="isMobile_number">Mobile
							Number should be in Numeric.</span> <span class="field-error"
							ng-show="isMobile_min">Mobile should be 10 digits.</span> <span
							class="field-error" ng-show="isMobile_max">Mobile should
							be 10 digits</span>
					</div>

				</div>
			</div>






			<div class="form-group">
				<div class="row">

					<div class="col-xs-12">
						<label class="control-label required">Email Id</label> <input
							type="text" ng-model="personalInfo.emailId" class="form-control"
							required name="email_id" /> <span class="field-error"
							ng-show="isEmptyEmail ">This is a required field.</span> <span
							class="field-error" ng-show="isInvalidEmail">This is not a
							valid email.</span> <span class="field-error" ng-show="isEmailMacthFail">Email
							match failed.</span>



					</div>

				</div>
			</div>


			<div class="form-group">
				<div class="row">

					<div class="col-xs-12">
						<label class="control-label required">Verify Email Id</label> <input
							type="text" ng-model="emailId" class="form-control" required
							name="email_id" /> <span class="field-error"
							ng-show="isEmptyEmail ">This is a required field.</span> <span
							class="field-error" ng-show="isInvalidEmail">This is not a
							valid email.</span> <span class="field-error" ng-show="isEmailMacthFail">Email
							match failed.</span>



					</div>

				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-xs-6">
						<label class="control-label required">Enter Password</label> <input
							type="password" maxlength="15" required
							ng-model="personalInfo.password" class="form-control"
							name="password1" /> <span class="field-error"
							ng-show="isPswdEmpty">This is a required field.</span> <span
							class="field-error" ng-show="isPswdMacthFail">Password
							match failed</span>

					</div>


					<div class="col-xs-6">
						<label class="control-label required ">Re-Enter Password</label> <input
							type="password" maxlength="15" class="form-control"
							ng-model="password" name="password2" /> <span
							class="field-error" ng-show="isPswdEmpty ">This is a
							required field.</span> <span class="field-error"
							ng-show="isPswdMacthFail">Password match failed.</span>

					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-xs-6">


						<div vc-recaptcha key="'6LfjqhYTAAAAAOXM0tjN2Ui83qhVewKIE5ScGPyA'"></div>
						<span class="field-error" ng-show="captchaErr">Please
							select Captcha.</span>

					</div>
				</div>
			</div>
			<div class="form-group">

				<div class="flow_buttons">
					<a class="btn btn-primary btn-lg active" ng-click="createUser()"
						role="button">Create User </a>
				</div>


			</div>


		</form>


	</div>

</section>